:host {
	display: block;
}

main {
	max-width: 400px;
}

.form-item {
	padding: 8px;
	margin-bottom: 16px;

	&__label {
		margin-bottom: 4px;
		display: block;
		font-weight: 600;
	}
}

#resultado {
	padding: 24px;

	.result-titles {
		.result-item {
			margin-bottom: 8px;
			h4 {
				display: inline-block;
				margin: 0;
				margin-right: 8px;
			}
		}
	}
	ul.resultados {
		li {
			border-bottom: 1px solid #ccc;
		}
	}
}